<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71412320929-6pq663tjfcn0h2qpl7309ita7rboqp3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71412320929-6pq663tjfcn0h2qpl7309ita7rboqp3c</string>
	<key>API_KEY</key>
	<string>AIzaSyB92gZEpXPTe1-fHAfGjntcRvZ9nv4PhqU</string>
	<key>GCM_SENDER_ID</key>
	<string>71412320929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wertr.com.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>loodoscase-83546</string>
	<key>STORAGE_BUCKET</key>
	<string>loodoscase-83546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71412320929:ios:13c7dc6b03de183917fee0</string>
</dict>
</plist>
